@import 'tailwindcss';


:root {
  --primary: #4f46e5;
  --primary-hover: #4338ca;
  --primary-active: #3730a3;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-active: var(--primary-active);
}